In [10]:
df1 = pd.read_csv("data/User0_credit_card_transactions.csv")
df1_clean = df1.drop("Is Fraud?", axis=1)  

df1_clean.to_csv("data/raw_data.csv", index=False)

In [12]:
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19963 entries, 0 to 19962
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User            19963 non-null  int64
 1   Card            19963 non-null  int64
 2   Year            19963 non-null  int64
 3   Month           19963 non-null  int64
 4   Day             19963 non-null  int64
 5   Time            19963 non-null  object
 6   Amount          19963 non-null  object
 7   Use Chip        19963 non-null  object
 8   Merchant Name   19963 non-null  int64
 9   Merchant City   19963 non-null  object
 10  Merchant State  18646 non-null  object
 11  Zip             18316 non-null  float64
 12  MCC             19963 non-null  int64
 13  Errors?         574 non-null    object
dtypes: float64(1), int64(7), object(6)
memory usage: 2.1+ MB

In [16]:
df1_clean['Use Chip']

0        Swipe Transaction
1        Swipe Transaction
2        Swipe Transaction
3        Swipe Transaction
4        Swipe Transaction
               ...
19958    Swipe Transaction
19959    Swipe Transaction
19960    Swipe Transaction
19961    Swipe Transaction
19962    Swipe Transaction
Name: Use Chip, Length: 19963, dtype: object

In [17]:
df2 = pd.read_csv("data/sd254_users.csv")
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Person                       2000 non-null   object
 1   Current Age                  2000 non-null   int64
 2   Retirement Age               2000 non-null   int64
 3   Birth Year                   2000 non-null   int64
 4   Birth Month                  2000 non-null   int64
 5   Gender                       2000 non-null   object
 6   Address                      2000 non-null   object
 7   Apartment                    528 non-null    float64
 8   City                         2000 non-null   object
 9   State                        2000 non-null   object
 10  Zipcode                      2000 non-null   int64
 11  Latitude                     2000 non-null   float64
 12  Longitude                    2000 non-null   float64
 13  Per Capita Income - Zipcode  2000 non-null   object
 14  Yearly Income - Person       2000 non-null   object
 15  Total Debt                   2000 non-null   object
 16  FICO Score                   2000 non-null   int64
 17  Num Credit Cards             2000 non-null   int64
dtypes: float64(3), int64(7), object(8)
memory usage: 281.4+ KB

In [18]:
df3 = pd.read_csv("data/sd254_cards.csv")
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   User                   6146 non-null   int64
 1   CARD INDEX             6146 non-null   int64
 2   Card Brand             6146 non-null   object
 3   Card Type              6146 non-null   object
 4   Card Number            6146 non-null   int64
 5   Expires                6146 non-null   object
 6   CVV                    6146 non-null   int64
 7   Has Chip               6146 non-null   object
 8   Cards Issued           6146 non-null   int64
 9   Credit Limit           6146 non-null   object
 10  Acct Open Date         6146 non-null   object
 11  Year PIN last Changed  6146 non-null   int64
 12  Card on Dark Web       6146 non-null   object
dtypes: int64(6), object(7)
memory usage: 624.3+ KB

In [30]:
N = 24340772
max_target = 5_500_000  # Giới hạn lớn nhất muốn thử

# Tìm ước số lớn nhất của N mà nhỏ hơn hoặc bằng max_target
for i in range(max_target, 0, -1):
    if N % i == 0:
        print(f"Largest divisor under or equal to {max_target}: {i}")
        print(f"--> Số file sẽ sinh ra: {N // i}")
        break

Largest divisor under or equal to 5500000: 4
--> Số file sẽ sinh ra: 6085193

In [ ]:
import pandas as pd
import pandasql as psql


transaction = pd.read_csv("data/transaction_cleaned.csv")
user = pd.read_csv("data/user_cleaned.csv")
card = pd.read_csv("data/card_cleaned.csv")

In [ ]:
sampled_df = transaction.sample(n=500_000, random_state=42)
sampled_df.to_csv("data/test.csv", index=False)

user.insert(0, "idx", range(len(user)))
user.to_csv("data/user_test.csv")

In [24]:
df = pd.read_csv("data/test.csv")

In [29]:
df[df['user'] == 1978]['is_fraud'].value_counts()

is_fraud
No     252
Yes      1
Name: count, dtype: int64

In [ ]:
q = """
SELECT t.user, COUNT(t.user) as count_fraud, u.person, u.current_age, u.total_debt, c.card_number, c.credit_limit
FROM df t
LEFT JOIN card c ON t.user = c.user
LEFT JOIN user u ON t.user = u.idx

WHERE t.is_fraud = 'Yes'
GROUP BY t.user
"""
result = psql.sqldf(q, locals())

In [26]:
result

,user,count_fraud,person,current_age,total_debt,card_number,credit_limit
0,0,10,Hazel Robinson,53,$127613,4344676511950444,$24295
1,1,5,Sasha Sadr,53,$191349,4001482973848631,$28508
2,2,5,Saanvi Lee,81,$196,4242015583697294,$31463
3,5,3,Aldo Walker,42,$0,4099623033306950,$9900
4,13,3,Keanu Chen,34,$78833,4508388296516458,$7400
...,...,...,...,...,...,...,...
457,1978,1,Kailyn Gomez,48,$50155,4955581838657248,$5579
458,1980,4,Sullivan Cruz,38,$17008,5145463747127185,$8500
459,1981,2,Lucinda Burns,50,$57346,358690297708537,$10800
460,1982,6,Samuel Morales,56,$56310,370616632244142,$5600
461,1983,18,Nyla Schmidt,78,$1058,4653783977944705,$107

In [ ]:
q = """
SELECT t.user, COUNT(t.user) as count_fraud, u.person, u.current_age, u.total_debt, c.card_number, c.credit_limit
FROM df t
LEFT JOIN card c ON t.user = c.user
LEFT JOIN user u ON t.user = u.idx

WHERE t.is_fraud = 'Yes'
GROUP BY t.user
"""
result = psql.sqldf(q, locals())